# =========================
# NODE / ANGULAR
# =========================

node_modules/
.angular/
dist/

# =========================
# .NET
# =========================

bin/
obj/
.vs/

# =========================
# PLAYWRIGHT
# =========================

playwright-data/

# =========================
# DATABASES
# =========================

*.db
*.sqlite

# =========================
# LOGS
# =========================

*.log

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# ENVIRONMENT
# =========================

.env

# =========================
# WINDOWS / OS
# =========================

.DS_Store
Thumbs.db